.stay-booker__input {
    height: 38px;
}

.stay-booker__input {
    color: #868585;
    width: 100%;

}

input::placeholder {
    font-size: 14px !important;
}

.css-1jqq78o-placeholder {
    font-size: 14px !important;
}

input {
    font-size: 14px !important;
}